/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
.fx {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sb {
  justify-content: space-between;
}

.ai-fe {
  align-items: flex-end;
}

.row {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #9c3aec !important;
}

.next-div:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.ta-center {
  text-align: center;
}
