.menu-height {
    height: 80px;
}

ngx-dropzone {
    color: #ffffff;
    border-color: #ffffff;
    padding: 16px;
    height: auto;
  
    &.custom-dropzone {
      background: transparent;

      &.hovered {
        border-style: solid;
      }
    }
}

.fx {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-fe {
    justify-content: flex-end;
}

.div-size {
    height: 200px;
}

.papaya-div {
    background-color: #d6d6d6; 
}

.download-btn {
    padding-left: 8px;
}

.width-100 {
    width: 100%;
}

.margin-top-200 {
    margin-top: 200px;
}

.cor-primaria {
    color: #f9643c;
}